@font-face {
  font-family: Coustard;
  src: url('../static/Coustard-Regular.ttf')
}

@font-face {
  font-family: "Noto Serif";
  src: url('../static/NotoSerif-Regular.ttf')
}

@font-face {
  font-family: Slabo;
  src: url('../static/Slabo27px-Regular.ttf');
}

:root {
  /*
  --color-bg: #09090d;
  --color-bg-deep: #0a0520;
  */

  --color-pink: #d911b8;
  --color-magenta: #f21be4;
  --color-purple: #af13f2;
  --color-cyan: #1df2dd;

  /*
  --color-text: #ede9f7;
  --color-text-muted: #9a93b3;
   */

  --grey-zero: #FAFAFA;
  --grey-one:  #DCDCDC;
  --grey-two: #AEAEBE;
  --grey-three: #8B8B8B;
  --grey-four: #626262;
  --grey-five: #3A3A3A;
  --color-bg: var(--grey-zero);
  --color-bg-deep: var(--grey-two);
  --color-text: var(--grey-five);
  --color-text-muted: var(--grey-three);
  --color-text-link: var(--grey-five);
  --font-body: "Noto Serif", serif;
  --font-heading: "Coustard", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 100;
  color: var(--color-text);
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

header {
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 1rem;
  font-family: var(--font-heading);
}

main {
  padding: 1rem;
  color: var(--color-text-muted);
}

footer {
  padding: 1rem;
  text-align: center;
  color: var(--color-text-muted);
}

img {
  display: block;
  max-width: 100%;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links a {
  object-fit: scale-down;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery img {
  object-fit: scale-down;
  border: 14px solid #fff;
}

#home-link {
  color: var(--color-text);
}